* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(rgb(216, 216, 216), rgb(216, 216, 216));
}

a {
    text-decoration: none;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */

    color: rgb(255, 255, 255);
    
    background-image: linear-gradient(rgb(37, 37, 37), rgb(27, 27, 27));

    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 0px;
    border-top-right-radius: 3px;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.308);
}

.container-links {
    display: flex;
    justify-content: center;
}

.link {
    display: flex;
    align-items: center;
}

.icon {
    margin-top: 5px;
    margin-right: 5px;
}

#total-display {
    display: flex;
    align-items: center;
    text-align: center;

    padding: 10px;
}

.sum-title {
    width: 100%;
}

.flex-container {    
    width: 95%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    

    margin: auto;   
    margin-top: 0.5rem;
}

main > .type-title {
    text-align: center;

    color: #000000;

    margin-top: 9rem;
}

main > .type-title ~ .type-title{
    margin-top: 1.5rem;
}


.money-column {
    min-width: fit-content();
    text-align: center;

    margin: 0.8rem;
    padding: 0.5rem;

    color: rgb(255, 255, 255);

    border-radius: 5px;   
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.600);
}

.money-column span {
    height: 3px;
    width: 60%;

    display: block;

    margin: 0 20px;
    margin-bottom: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    
    background-color: #ffffff;
    border-radius: 9px;
}

.money-column h4 {
    margin: auto;
    margin-bottom: 1rem;
}

.money-column h3 {
    margin: 1rem;
}

.money-column h2 {
    font-size: 25px;
    font-weight: 900;

    margin: 0.5rem;
}

.money-column input {
    width: 50%;

    text-align: center;

    padding: 5px 0px;
    margin-bottom: 0rem;

    font-size: 1.5em;
    
    background-color: rgb(255, 255, 255);
    color: black;
    
    border: none;
    border-radius: 5px;   
    box-shadow: inset 0px 0px 5px -1px #000000;

    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.money-column-sum,
.sum-title-big h1,
.sum-title-small h2 {
    font-family: 'Roboto', sans-serif;

    text-shadow: 1px 1px 5px #000000;

    color: #4cd440;
}

.container-about {
    margin: 10px 20px;

    color: #000000;

    justify-content: justify;    
}

.container-about h1 {
    font-size: 2em;

    margin-top: 15px;
}

.container-about p {
    margin-left: 10px;
}

footer {
    margin: 30px 0px 10px;
    text-align: center;

    color: #000000;
    font-family: 'Roboto', sans-serif;
}

footer a{
    margin: 5px;

    color: #000000;
    font-family: 'Roboto', sans-serif;
}

footer span {
   
    height: 1px;
    width: 70%;

    display: block;

    margin: 0 20px;
    margin-bottom: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    
    background-color: #000000;
    border-radius: 9px;
 
}

.footer-links {
    margin-top: 10px;

    font-style: normal;
}

.github {
    vertical-align: middle;
}

.link {
    cursor: pointer;
}

.input-container {
    display: flex;
    
    justify-content: center;
}

.icon-change {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    margin: 0px 5px;

    font-size: 50px;

    border-radius: 5px;
    box-shadow: inset 0px 0px 5px -1px #000000;
    background-color: rgb(255, 255, 255);

    cursor: pointer;

    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.decrement {
    color: red;

    padding-bottom: 6.5px;
}

.increment {
    color: green;

    padding-bottom: 0.5px;
}





