* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(rgb(216, 216, 216), rgb(216, 216, 216));
}

a {
    text-decoration: none;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */

    color: rgb(255, 255, 255);
    
    background-image: linear-gradient(rgb(37, 37, 37), rgb(27, 27, 27));

    z-index: 100;

    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 0px;
    border-top-right-radius: 3px;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.308);
}

.navbar-container {
    display: flex;

    justify-content: center;
}

.navbar span {
    background-color: white;
}

.navbar-container ul {
    margin: 10px 0px;
    display: flex;

    list-style-type: none;
}

.navbar-container li {    
    margin-right: 1.3rem;

    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.navbar-container li:hover {    
    color: rgb(126, 126, 126);
}

.link {
    display: flex;
    align-items: center;
}

.icon {
    margin-top: 5px;
    margin-right: 5px;
}

#total-display {
    display: flex;
    align-items: center;
    text-align: center;

    padding-bottom: 10px;
}

.sum-title {
    width: 100%;
}

.flex-container {    
    width: 95%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    

    margin: auto;   
    margin-top: 0.8rem;
    margin-bottom: 3rem;
}

main > .type-title {
    text-align: center;

    color: #000000;

    margin-top: 10rem;
}

main > .type-title ~ .type-title{
    margin-top: 1.5rem;
}


.money-column {
    min-width: fit-content();
    text-align: center;

    margin: 0.8rem;
    padding: 0.5rem;

    color: rgb(255, 255, 255);

    border-radius: 5px;   
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.600);
}

.money-column span {
    height: 3px;
    width: 60%;

    display: block;

    margin: 0 20px;
    margin-bottom: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    
    background-color: #ffffff;
    border-radius: 9px;
}

.money-column h4 {
    margin: auto;
    margin-bottom: 1rem;
}

.money-column h3 {
    margin: 1rem;
}

.money-column h2 {
    font-size: 25px;
    font-weight: 900;

    margin: 0.5rem;
}

.money-column input {
    width: 50%;

    text-align: center;

    padding: 5px 0px;
    margin-bottom: 0rem;

    font-size: 1.5em;
    
    background-color: rgb(255, 255, 255);
    color: black;
    
    border: none;
    border-radius: 5px;   
    box-shadow: inset 0px 0px 5px -1px #000000;

    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.money-column-sum,
.sum-title-big h1,
.sum-title-small h2 {
    font-family: 'Roboto', sans-serif;

    text-shadow: 1px 1px 5px #000000;

    color: #4cd440;
}

.container-content {
    margin: 80px 20px 50px 20px;

    color: #000000;

    justify-content: justify;    
}

.container-content.main {
    margin: 10px 20px 50px 20px;

    color: #000000;

    justify-content: justify;    
}

.page-title {
    margin-top: 15px;
    margin-bottom: 15px;

    text-align: center;  

    font-size: 2em;      
}

.container-content p {
    margin-left: 10px;
    margin-bottom: 20px;
    
    font-size: 1.2em;
}

.project-news {
    margin-left: 50px;
}

footer {
    margin: 30px 0px 10px;
    text-align: center;

    color: #000000;
    font-family: 'Roboto', sans-serif;
}

footer a{
    margin: 5px;

    color: #000000;
    font-family: 'Roboto', sans-serif;
}

.divisor {   
    height: 1px;
    width: 70%;

    display: block;

    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
  
    border-radius: 9px; 
}

footer .divisor,
main .divisor {
    background-color: #000000;
}



.footer-links {
    margin-top: 10px;

    font-style: normal;
}

.github {
    vertical-align: middle;
}

.fixed-button {
    display: flex;
    align-items:center;

    position: fixed;
    bottom: 20px;
    right: 20px; 

    padding: 5px 10px;

    background-image: linear-gradient(rgb(37, 37, 37), rgb(27, 27, 27));
    border-radius: 25px;

    color: white;
    cursor: pointer;
}

.fixed-button .icon {
    margin-bottom: 5px;
}

.input-container {
    display: flex;
    
    justify-content: center;
}

.icon-change {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    margin: 0px 5px;

    font-size: 50px;

    border-radius: 5px;
    box-shadow: inset 0px 0px 5px -1px #000000;
    background-color: rgb(255, 255, 255);

    cursor: pointer;

    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.decrement {
    color: red;

    padding-bottom: 6.5px;
}

.increment {
    color: green;

    padding-bottom: 0.5px;
}

/* Social Links */
.social-links-wrapper {
  display: flex;

  height: 100%;
  width: 100%;

  align-items: center;
  justify-content: center;  
}

.social-links-wrapper a {
    color: inherit;
}

.social-links-wrapper .button-social {
    display: inline-block;

    height: 60px;
    width: 60px;

    margin: 0 5px;
    overflow: hidden;

    background: rgb(236, 236, 236);
    border-radius: 50px;
    
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}

.social-links-wrapper .button-social:hover{
    width: 200px;
}

.social-links-wrapper .button-social .icon-social{
    display: inline-block;

    height: 60px;
    width: 60px;

    text-align: center;
    
    border-radius: 50px;
    box-sizing: border-box;

    line-height: 60px;
    transition: all 0.3s ease-out;
}

.social-links-wrapper .button-social.facebook:hover .icon-social{
    background: #4267B2;
}

.social-links-wrapper .button-social.instagram:hover .icon-social{
    background: #E1306C;
}

.social-links-wrapper .button-social.email:hover .icon-social{
    background: #b61820;
}

.social-links-wrapper .button-social .icon-social i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.social-links-wrapper .button-social:hover .icon-social i{
    color: #fff;
}

.social-links-wrapper .button-social span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.social-links-wrapper .button-social.facebook span{
    color: #4267B2;
}

.social-links-wrapper .button-social.instagram span{
    color: #E1306C;
}

.social-links-wrapper .button-social.email span{
    color: #b61820;
}

/* Cédulas */
.img-cedula {
    width: 320px;
    height: 160px;

    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.308);
}

.container-cedulas {
    display: flex;

    justify-content: center;

    flex-wrap: wrap;
}

.container-valor {
    margin: 20px;

    vertical-align: top;

    display: inline-block;

    text-align: center;

    width: 300px;
}

.card {
    width: 100%;
    position: relative;
    display: inline-block;
    
}

.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card:hover .img-top {
    display: inline;
}

